# config
shell/*/extensions/*
!shell/*/extensions/README.md

# local nvim spell checkers
nvim/spell/
nvim/lua/config/local/*
!nvim/lua/config/local/README.md

# generated
lazy-lock.json
.luarc.json
.DS_Store
