# Colors are Bearded Monokai Reversed.

font=JetBrainsMono Nerd Font 11
width=380
padding=12
margin=12
border-size=1
border-radius=8

background-color=#12141a
text-color=#c6cad7
border-color=#78dce8
progress-color=over #212430

default-timeout=5000
layer=overlay

[urgency=low]
border-color=#4c526b
text-color=#a9aec1

[urgency=critical]
border-color=#ff6188
default-timeout=0
